[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "deps/powerline-fonts"]
	path = deps/powerline-fonts
	url = https://github.com/powerline/fonts.git
